# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# YOLO / ML outputs
runs/
datasets/
*.pt
*.weights
*.onnx
*.h5

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db